:root{
    --blueviolet:#4B40C5;
    --orange:#EC682C;
    --white: #FFFFFF;
    --black: #212832;
}
*,
*::after
*::before
{
 box-sizing: border-box;   
}
body{
    margin: 0;
    font-family: "Peralta","Poppins","Montserrat";
}